* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: 300;
}

.Main {
  height: 100vh;
  width: 100vw;
  background-image: url(https://t3.ftcdn.net/jpg/01/59/07/92/360_F_159079250_3oo6EuNF6gPjNe3ABeDhMjzzEDlGVdjO.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: end;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 32px;
}

h1 {
  color: white;
  font-weight: 400;
  padding: 12px;
}

input {
  width: 230px;
  font-size: 18px;
  padding: 6px 14px;
  border-radius: 6px;
}

.btn {
  font-size: 24px;
  color: white;
  background-color: rgb(241, 55, 55);
  padding: 4px 44px;
  border-radius: 6px;
}

.hero {
  height: 100vh;
  width: 100vw;
  background-color: rgb(48, 137, 48);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero > h1 {
  font-size: 49px;
}

.desk {
  height: 100%;
  width: 100%;
  display: flex;
  font-size: 23px;
  color: white;
}

.left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
  padding: 42px 0px;
}

.right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
  padding: 42px 0px;
}

img {
  height: 140px;
  width: auto;
  padding: 4px;
}

.option{
  padding: 34px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action{
  padding: 12px 30px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 20px;
}

#restart{
  display: none;
}

@media only screen and (max-width: 840px) {
  .Main {
    background-position: center;
    justify-content: center;
  }
  .desk {
    font-size: 18px;
    flex-direction: column;
  }
  img{
    height: 112px;
    width: auto;
    padding: 1px;
  }
  .left{
    width: 100%;
    gap: 4px;
    padding: 0px;
  }
  .right{
    width: 100%;
    gap: 4px;
    padding: 0px;
  }
  #winner{
    font-size: 23px;
  }
  .action{
    padding: 6px 15px;
  }
}